.navbar {
  height: 50px;
  background-color: white;
  color: rgb(70, 70, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1;
}
.left-nav {
  display: flex;
  flex: 1;
  margin-left: 20px;
}

.center-nav {
  flex: 4;
  display: flex;
  justify-content: center;
}

.center-nav a {
  padding: 30px;
  font-size: 22px;
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.right-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-nav svg {
  font-size: 40px;
  margin: 20px;
  display: flex;
}

.left-nav h1 {
  margin-left: 20px;
}
.left-nav svg {
  margin: 10px;
  font-size: 40px;
}
.reorder-icon {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.person-icon, .login-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: rgb(82, 82, 82);
}

.reorder-icon {
  color: rgb(81, 81, 81);
}
#open {
  height: 100vh;
}
#open .reorder-icon {
  display: none;
}
#open .person-icon {
  display: none;
}

#open .left-nav {
  display: none;
}
#open a {
  display: flex;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}
#open .center-nav {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-top: 100px;
}

.shopping-cart {
  color: rgb(74, 74, 74);
}

@media only screen and (max-width: 700px) {
  .reorder-icon {
    display: flex;
  }
  .left-nav {
    display: none;
  }
  .person-icon {
    display: none;
  }
  a {
    display: none;
  }
}
