
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #4b97fa;
  color: #4c8df0;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #4d8bf7;
}

.paginationActive a {
  color: white;
  background-color: #61a0f3;
}

@media only screen and (max-width: 1700px) {
  .shop-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
}
@media only screen and (max-width: 700px) {
  .paginationBttns{
  display: flex;
  justify-content: center;

  }
}
@media only screen and (max-width: 700px) {
  .shop-header {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    height: auto;
  }
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
