




.sidebar-title {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}




